{% extends 'master.html' %} {% load static %} {% block content %}
<div class="container-fluid" style="background-color: #ffb28459">
  <center>
    <h2><b>ABOUT US</b></h2>
    <h3>
      What makes a company great? That’s simple. It’s the people who work here
    </h3>
    <br />
  </center>
</div>
<div class="container-fluid mt-2" style="margin-left: 20px">
  <p class="p-4">
    Perfect Tutor is the fastest growing and extensive educational platform
    known for its excellent tutoring & teaching services and initiated in the
    year 2021. As a team, faculty members & tutors of Perfect Tutor make
    subjects, concepts, and courses simple and easy for the students looking for
    the top grades & ranks in their academic career.<br />
    Perfect Tutor connects students with expert teachers in a digital classroom
    or specialized one-to-one home tuition to help them understand tough
    subjects and improve their grades. Whether students need assistance with a
    complex subject or want to enhance their knowledge, we have instructors that
    can assist them.<br />
    Perfect Tutor is a tailored, student-focused learning platform that
    precisely matches the needs of students. We have over five years of
    experience recruiting top instructors for home tuitions and building new
    e-learning programs.
  </p>
</div>
<div class="container-fluid" style="margin-left: 20px">
  <h2><b>Our vision</b></h2>
  <p class="">
    Our vision is to empower and help students with the relevant information and
    proper knowledge related to their subjects and courses through our LMS
    (Learning Management System) and Perfect Tutors’ faculty. It will help them
    to make a hurdle-free path while studying for their dream educational career
    and alma mater. We are always there to help students get to one of the top
    ranks in their academic careers at each stage of their studies.
  </p>
</div>
<div class="container-fluid" style="margin-left: 20px">
  <h2><b>Our team</b></h2>
  <p class="">
    Ambitiously, our mission at Perfect Tutor is to provide the best home tutors
    and Online teachers, guidance, information, and counseling to the students
    for their academic career growth with pride, originality, and sincerity.
    With the most validated educational content our teachers, tutors, and team
    are dedicated to helping each student by all means in making their verdict
    easier towards their studies.
  </p>
</div>
<div class="container-fluid" style="margin-left: 20px">
  <h2><b>Our perfect tutor</b></h2>
  <p class="">
    Our team has a creative, innovative, and transformative mind working in
    seamless sync to create a path to better education for students. We are a
    team of young and energetic enthusiasts who help students and their parents
    to make choices and decisions regarding Courses, Subjects, and Concepts in a
    very easier way and better than ever before.
  </p>
</div>
<div class="container-fluid" style="margin-left: 20px">
  <h2><b>Our Mission</b></h2>
  <p class="">
    Ask for a Home Tutor, Teacher, or Instructor, and our AI (Artificial
    Intelligence) will reach out to hundreds of skilled instructors based on
    subject and grade level to discover the best match for you.<h5><b> INTERACT WITH
    TUTORS:</b></h5> Connect with tutors before taking the service and chat to ensure
    that you have selected the right tutor for you.<b><h5> JOIN THE CLASSES:</b></h5> Experience
    individualized education in the comfort of your own home as well as in our
    unique online classroom, which is intended to assist learning for today’s
    digital generation. <b><h5>EXAMINE YOUR PROGRESS:</b></h5> After each session, go over your
    individualized comments and study recommendations to discover what areas you
    need to work on. <b><h5>SUCCEED:</b></h5> Keep an eye on your grades. There is no shortcut
    to academic achievement, but customized learning with Perfect Tutor expert
    teachers provides you a competitive advantage.
  </p>
</div>

<div class="container-fluid wow11">
  <div class="row">
    <center>
      <h4 class="rang mt-5">
        <b><u>TESTMONIALS</u></b>
      </h4>
    </center>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <img
            src="{% static 'images/mam.png'%}"
            alt="Los Angeles"
            class="wow10"
          />
          <b>ARTI SHUKLA</b>
          English teacher

          <p>
            when thinking about an online learning plateform, it's the perfect
            Tutor that comes first in my mind. tutor are experinced and tech on
            the whiteboard and the live classes make the feel of a proper
            classes
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <img
            src="{% static 'images/sir.png'%}"
            alt="Los Angeles"
            class="wow10"
          />
          <b>GAURAV SINH</b>
          math Tutor,Goa

          <p>
            when thinking about an online learning plateform, it's the perfect
            Tutor that comes first in my mind. tutor are experinced and tech on
            the whiteboard and the live classes make the feel of a proper
            classes
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <img
            src="{% static 'images/mam.png'%}"
            alt="Los Angeles"
            class="wow10"
          />
          <b>shreya singh</b>
          student,faridabad

          <p>
            when thinking about an online learning plateform, it's the perfect
            Tutor that comes first in my mind. tutor are experinced and tech on
            the whiteboard and the live classes make the feel of a proper
            classes
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
