{% load static %}
<!doctype html>
<html lang="en">

<head>
  <title>Admin Dashboard</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="{% static 'css/etutor.css' %}" rel="stylesheet"/>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   {% comment %} <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'> {% endcomment %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  </head>

<body>
  <header>
    <nav class="navbar navbar-expand-sm  A tmaster ">
        <div class="container-fluid">
          <img class="logo" src="{% static 'images/R.png'%}"/>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse navbar " id="mynavbar">
            
            <form class="d-flex searchbox">
              <input class="form-control me-2 searchbar1 " type="text" placeholder="Search">
              
            </form>
          </div>
          <div class="container icon ">
            <i class="material-icons noticon" style="font-size:36px">notifications</i>&nbsp;&nbsp;
            
          </div>
          <div class="container icon">
            <i class="material-icons " style="font-size:36px">email</i>
         </div>
         <div class="container">
          <button class="btn btn-primary td" type="button">Admin Dashboard</button>
       </div>
        </div>
      </nav>
  </header>
  <main>
    <br/>
     <div class="container-fluid">
       <div class="row">
          <div class="col-md-2">
             
            <div class="container-fluid tprofile ">
              <br/>
              <span><img class="logo tprofileimg" src="{% static 'images/raghu.jpg'%}"/>
              </span>
              <h6 class="tprofilename"><b><i>  Raghvendra Singh</i></b>
                <button class="edit"> <i class="material-icons ">mode_edit</i></button>
              </h6>
              <a class="nav-link navA signout" href="#"><i class="fa fa-sign-in"></i>&nbsp;&nbsp;Sign out</a>
            
            </div>
            {% comment %} vertical navs {% endcomment %}
            <div class="container-fluid navH">
              <div class="container mt-3">
                
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link navVB" href="#"><i class="material-icons" style="font-size:24px">dashboard</i>&nbsp;&nbsp;Dashboard</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link navVB"  data-bs-toggle="modal" data-bs-target="#myModaladmincourse" href="#"><i class="material-icons"  data-bs-toggle="modal" data-bs-target="#myModaladmincourse" style="font-size:24px">library_books</i>&nbsp;&nbsp;Course</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link navVB" href="#"><i class="fa fa-users" style="font-size:24px"></i>&nbsp;&nbsp;Student</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link navVB" href="#"><i class="fa fa-user" style="font-size:24px"></i>&nbsp;&nbsp;Teachers</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link navVB" href="#"><i class="fa fa-bank" style="font-size:24px"></i>&nbsp;&nbsp;Transactions</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link navVB" href="#"><i class="fa fa-commenting-o" style="font-size:24px"></i>&nbsp;&nbsp;Chat</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link navVB" href="#"><i class="material-icons" style="font-size:24px">date_range</i>&nbsp;&nbsp;Schedule</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link navVB" href="#"><i class="fa fa-video-camera" style="font-size:24px"></i>&nbsp;&nbsp;Live Class</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link navVB" href="#"><i class="material-icons" style="font-size:24px">settings</i>&nbsp;&nbsp;Setting</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#"></a>
                  </li>
                </ul>
              </div>
            </div>

          </div>
          <div class="col-md-9">2</div>
          <div class="col-md-1">

            <div class="container-fluid">
              3
            </div>

          </div>
       </div>
     </div>
  </main>


  <!-- Button to Open the Modal -->
{% comment %} <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModaladmincourse">
  Open modal
</button> {% endcomment %}

<!-- The Modal -->
<div class="modal" id="myModaladmincourse">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add course</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="mb-3 mt-3">
          <label><b>New Course:</b></label>
          <input type="text" class="form-control" id="admincourse" placeholder="Enter course"/>
        </div>
        <center><button type="button" class="btn btn-primary" id="Acourse">save</button> </center>   
            
      </div>

      <!-- Modal footer -->
      

    </div>
  </div>
</div>



  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->

  <script>
    $(document).ready(function(){

 
    $("#Acourse").click(function(){
      var course=$("#admincourse").val();
      if(course===""){
        alert("Please enter email");
        $("#admincourse").focus();
      }
      else{
        $.ajax({
          method:"post",
          url:"admindas/save",
          data:{'csrfmiddlewaretoken':'{{csrf_token}}','course':course},
          success:function(result){
            alert("welcome");
          }
        })
      }
    });
  });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>