{% extends 'master.html' %} {% load static %} {% block content %}
<!-- Carousel -->
<div id="demo" class="carousel slide w-100 h-100" data-bs-ride="carousel">
  <div class="carousel-inner w-100 h-100">
    <div class="carousel-item active">
      <img
        src="{% static 'images/coro1.jpg'%}"
        alt="Los Angeles"
        class="d-block coroimg w-100"
      />
    </div>
    <div class="carousel-item">
      <img
        src="{% static 'images/coro2.jpg'%}"
        alt="Chicago"
        class="d-block coroimg w-100"
      />
    </div>
    <div class="carousel-item">
      <img
        src="{% static 'images/coro3.png'%}"
        alt="New York"
        class="d-block coroimg w-100"
      />
    </div>
    <div class="carousel-item">
      <img
        src="{% static 'images/coro6.jpg'%}"
        alt="New York"
        class="d-block coroimg w-100"
      />
    </div>
    <div class="carousel-item">
      <img
        src="{% static 'images/coro5.jpg'%}"
        alt="New York"
        class="d-block coroimg w-100"
      />
    </div>
    {% comment %}
    <div class="carousel-item">
      <img
        src="{% static 'images/R.png'%}"
        alt="New York"
        class="d-block coroimg w-100"
      />
    </div>
    {% endcomment %}
  </div>

  <!-- Left and right controls/icons -->
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#demo"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#demo"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
<br />
{% comment %} card {% endcomment %}
   <center class=><h3 class="hello1"><b><u> Find your Online & Home tutor</u></b></h3></center>

<div class="container-fluid love">
  <div class="row love1">
    <div class="col-md-3"><div class="card love2">
      <div class="card-body"><h4><u><b>CLASS</b></u></h4>
        1st - 2nd
        <br/>
        3rd - 5th
        <br/>
        6th - 8th
        <br/>
        9th - 10th
        <br/>
        11th - 12th
        <br/>
  
        <button class="bifo1">View more...</button>
      </div>
    </div></div>
    <div class="col-md-3"><div class="card love2">
      <div class="card-body"><h4><u><b>SUBJECT</b></u></h4>
      
        Math
        <br/>
        Science
        <br/>
        English
        <br/>
        Social Science
        <br/>
        Physics
      
        <br/>
        <button class="bifo1">View more...</button>
      </div>
    </div></div>
    <div class="col-md-3"><div class="card love2">
      <div class="card-body"><h4><u><b>LANGUAGE</b></u></h4>
      
      
      
      
English
<br/>
French
<br/>
Math
<br/>
science
<br/>
Hindi
<br/>
<button class="bifo1">View more...</button>
      
      </div>
    </div></div>
    <div class="col-md-3"><div class="card love2">
      <div class="card-body"><h4><u><b>HOBBY</b></u></h4>
      
        Dance
        <br/>
        Singing
        <br/>
        Yoga
        <br/>
        Guitar
        <br/>
        Chess 
        <br/>
        <button class="bifo1">View more...</button>
      </div>
    </div></div>
  </div>
</div>


<br/>
<!-- new div -->
<center class="wow">
  <h4>
    <b><u>How We work ?</u></b>
  </h4>
</center>
&nbsp;
<center class="wow">
  <h5><b>For student</b></h5>
</center>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 wow1">
      <img
        src="{% static 'images/ledies.png'%}"
        alt="Los Angeles"
        class="wow2"
      />
      <h4 class="wow3">Post Free Requirnment</h4>

      Post your learning requirement for free and get the <br />best Home Tutors
      and Online Tutors near you.
    </div>

    <div class="col-md-6 wow1">
      <img
        src="{% static 'images/computer.png'%}"
        alt="Los Angeles"
        class="wow2"
      />
      <h4 class="wow3">Instant Response</h4>

      As per your learning needs, get an instant response <br />from experienced
      tutors and teachers near you.
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-6 wow1">
      <img
        src="{% static 'images/hire.png'%}"
        alt="Los Angeles"
        class="wow2"
      />
      <h4 class="wow3">Compare, Hire & Learn</h4>

      Take a free demo from our Home Tutors and Online <br />Tutors. Compare
      amongst them and hire the best
    </div>

    <div class="col-md-6 wow1">
      <img
        src="{% static 'images/new1.png'%}"
        alt="Los Angeles"
        class="wow2"
      />
      <h4 class="wow3">
        Free Online Learning Platform</h4>

Start class with Perfect Tutor and get Free Online</br> Learning Platform for your productive learning.
    </div>
  </div>
  <br/>
  <center class="wow">
    <h5><b>For tutor</b></h5>
  </center>
  <br/>
  <div class="row">
    <div class="col-md-6 wow1">
      <img
        src="{% static 'images/new3.png'%}"
        alt="Los Angeles"
        class="wow2"
      />
      <h4 class="wow3">    Teach at Home or Online.</h4>
     
  
      As per your ease and comfort teach at the student's home <br/>near you or teach online from your home.
    </div>

    <div class="col-md-6 wow1">
      <img
        src="{% static 'images/new4.png'%}"
        alt="Los Angeles"
        class="wow2"
      />
      <h4 class="wow3">
        Free Online Learning Platform</h4>

Start class with Perfect Tutor and get Free Online</br> Learning Platform for your productive learning.
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-6 wow1">
      <img
        src="{% static 'images/new2.png'%}"
        alt="Los Angeles"
        class="wow2"
      />
      <h4 class="wow3">
        Get Teaching Certificate</h4>

      Get a teaching certificate from Perfect Tutor to become a<br/> certified teacher.
    </div>

    <div class="col-md-6 wow1">
      <img
        src="{% static 'images/new6.png'%}"
        alt="Los Angeles"
        class="wow2"
      />
      <h4 class="wow3">
        
Free Online Teaching Platform</h4>
Start teaching with Perfect Tutor and get a Free Online<br/> teaching Platform to teach and earn more.
    </div>
  </div>
  </div>





  <div class="container-fluid wow4">
    <center>
      <h3 class="">What are you looking for...</h3>
    </center>
    <br />
    <div class="row">
      <div class="col-md-6">
        <center>
          <img
            src="{% static 'images/teacher.jpg'%}"
            alt="Los Angeles"
            class="d-block coroimg ram4"
          />
          <br />
          <a href="/student/sdashboard/"
            ><button class="btn btn-primary btn-lg p-2">
              Looking for Home Tutor
            </button></a
          >
        </center>
      </div>
  
      <div class="col-md-6">
        <center>
          <img
            src="{% static 'images/student.jpg'%}"
            alt="Los Angeles"
            class="d-block coroimg ram4"
          />
          <br />
          <a href="user/tdashboard/"
            ><button class="btn btn-primary btn-lg p-2">
              Looking for students
            </button></a
          >
        </center>
      </div>
    </div>
  </div>
  

  <!---new div!-->
  <div class="container-fluid wow6">
    <div class="row">
  <center>
    <h4 class="rang mt-5"><b><u>Why  E-tutor ?</u></b></h4>
  </center>

      <div class="col-md-4">
        <div class="card">
          <div class="card-header">  <img src="{% static 'images/bs.png'%}" alt="Los Angeles" class="wow5"/>One-On-One Learning</div>
         
        </div>
    </div>
     
      <div class="col-md-4">
        <div class="card">
        <div class="card-header"><img src="{% static 'images/personal.png'%}" alt="Los Angeles" class="wow5"/>100% verified profiles</div>
      </div>
    </div>

      <div class="col-md-4">
        <div class="card">
        <div class="card-header"><img src="{% static 'images/flexible.png'%}" alt="Los Angeles" class="wow5"/>Get the best online platform</div>
      </div>
    </div>
    
    </div>
    <br/>
    <br/>
    <center>
    <h3>  When you choose Perfect Tutor, you can be confident for investing in<br/> the most reliable tutoring services available in your area</h3>
    </center>
    <br/>
    <center>

      <button class="bifo">know more....</button>
    </center>
</div>
  <div class="container-fluid wow7">
    <div class="row" style="margin-left:90px;">
      <div class="col-md-2">
        <div class="card wow9">
          <div class="card-body"><img src="{% static 'images/mam.png'%}" alt="Los Angeles" class="wow8"/>
         
          
          <p style="color:red">3000+</p>
         TEACHERS 
        </div>
        </div>
        
    </div>
     
      <div class="col-md-2">
        <div class="card wow9">
          <div class="card-body"><img src="{% static 'images/st.png'%}" alt="Los Angeles" class="wow8"/>
            <p style="color:red">5500+</p>
            STUDENTS
          </div>
        </div>
        
    </div>

      <div class="col-md-2">
        <div class="card wow9">
          <div class="card-body"><img src="{% static 'images/dm.png'%}" alt="Los Angeles" class="wow8"/>
            <p style="color:red">2100+</p>
           DEMO CLASSES
          </div>
        </div>
        
    </div>
      <div class="col-md-2">
        <div class="card wow9">
          <div class="card-body"><img src="{% static 'images/ad.png'%}" alt="Los Angeles" class="wow8"/>
            <p style="color:red">5000+</p>
            ADMISSIONS
          </div>
        </div>
        
    </div>
      <div class="col-md-2">
        <div class="card wow9">
          <div class="card-body"><img src="{% static 'images/ld.png'%}" alt="Los Angeles" class="wow8"/>
            <p style="color:red">700+</p>
            LEADS
          </div>
        </div>
        
    </div>
    
    </div>
   
</div>
<!--new div for -->

<div class="container-fluid wow11">
  <div class="row">
<center>
  <h4 class="rang mt-5"><b><u>TESTMONIALS</u></b></h4>
</center>

    <div class="col-md-4">
      <div class="card ">
        <div class="card-header"><img src="{% static 'images/mam.png'%}" alt="Los Angeles" class="wow10"/>
        <b>ARTI SHUKLA</b>
        English teacher
        
        
        <p>
           when thinking about an online learning plateform, it's the perfect Tutor that comes first in my mind. tutor are experinced and tech on the whiteboard and the live classes make the feel of a proper classes</p>
        </div>
       
      </div>
  </div>
   
    <div class="col-md-4">
      <div class="card">
      <div class="card-header"><img src="{% static 'images/sir.png'%}" alt="Los Angeles" class="wow10"/>
        <b>GAURAV SINH</b>
        math Tutor,Goa
        
        <p>
          when thinking about an online learning plateform, it's the perfect Tutor that comes first in my mind. tutor are experinced and tech on the whiteboard and the live classes make the feel of a proper classes</p>
       


      </div>
    </div>
  </div>

    <div class="col-md-4">
      <div class="card">
      <div class="card-header">
        <img src="{% static 'images/mam.png'%}" alt="Los Angeles" class="wow10"/>
        <b>shreya singh</b>
        student,faridabad
        
        <p>
          when thinking about an online learning plateform, it's the perfect Tutor that comes first in my mind. tutor are experinced and tech on the whiteboard and the live classes make the feel of a proper classes</p>
       
      
      </div>
    </div>
  </div>
  
  </div>
</div>



  {% endblock %}

  
 