{% extends 'master.html' %} {% load static %} {% block content %}
<div class="container-fluid">
  <center>
    <h4><b>Our Services</b></h4>
    <p class="p-4">
      Our core service areas offer parents, students, private home tutors,
      online tutors and users a fair choice of affordable home tutoring. We
      always intend to maintain transparency in the connecting process between a
      home tutor and students wishing to accomplish their academic goals with
      professional guidance. Our top priority is to provide best education to
      the students through qualified and experienced teachers.
    </p>
    <img
      src="{% static 'images/mol.png'%}"
      alt="Los Angeles"
      class="w-75 h-75"
    />
  </center>
  <div class="row mt-3">
    <div class="col-md-3">
      <div class="card">
        <div
          class="card-body"
          style="background-color: #efa092"
          style="color: white"
        >
          <a style="color: white" class="list" href="/"
            ><center><h4>HOME TUTOR</h4></center></a
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div
          class="card-body"
          style="background-color: #efa092"
          style="color: white"
        >
          <a style="color: white" href="/"
            ><center><h4>ONLINE TUTOR</h4></center></a
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div
          class="card-body"
          style="background-color: #efa092"
          style="color: white"
        >
          <a style="color: white" href="/"
            ><center><h4>TEACING JOBS</h4></center></a
          >
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div
          class="card-body"
          style="background-color: #efa092"
          style="color: white"
        >
          <a style="color: white" href="/"
            ><center><h4>ADDMISSION</h4></center></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!--next div-->

<div class="container-fluid mt-5">
  <center class=><h3 class="hello1"><b><u>Our Facilities</u></b></h3></center>
    <br/>
  <div class="row mt-2">
    <div class="col-md-5"><div class="card hello3 p-4"><h3>Qualified and Experienced Tutors</h3></div></div>
    <div class="col-md-5 hello2"><center><p>Perfect Tutor has emerged as a prominent platform to reach out to professional tutors for affordable home tutoring services. We suggest only Qualified and Experienced Tutors.</p></center></div>
  </div>
  <div class="row mt-2">
    <div class="col-md-5"><div class="card hello3 p-4"><h3>Online Learning Platform and App</h3></div></div>
    <div class="col-md-5 hello2"><center><p>It helps students and parents to ease the hiring for a home teacher & meet your expectations from quality tutoring through its Online Learning Platform, Website, App and Team.</p></center></div>
  </div>
  <div class="row mt-2">
    <div class="col-md-5"><div class="card hello3 p-4"><h3>100% Verified and Accurate Leads</h3></div></div>
    <div class="col-md-5 hello2"><center><p>Tutors and Teachers start getting 100% Accurate and Verified Leads after the successful verification of their teachers or tutors profile on our website. See our Subscription Plans</p></center></div>
  </div>
  <div class="row mt-2">
    <div class="col-md-5"><div class="card hello3 p-4"><h3>Transparent and Hassle Free Services</h3></div></div>
    <div class="col-md-5 hello2"><center><p>We offer completely Transparent and Hassle Free Services.There is no hidden terms. We take full care of the privacy of our customers. All payment methods we use are completely secured.</p></center></div>
  </div>
</div>
<div class="container-fluid hello4 mt-5">
  <div class="grid-container hello5">
    <div class="grid-item mt-5 hello6"><h3>100% Satisfaction Guarantee</h3>
     <h5> We also Offer 45 days Money Back Guarantee</h5>
  
      We offer a no questions asked refund policy for 45 days from the date you complete your profile verification.    <br/>
    <br/>
    <button class="bifo">Get started</button>
    </div>
    
    
  </div>
</div>
<div class="container-fluid">
  <center>
    <h3 class="rang mt-5">
      <b><u>Our Process</u></b>
    </h3>
  </center>
  <img src="{% static 'images/work.png'%}" alt="Los Angeles" class="w-75 h-75 hello7"/>
</div>
{% endblock %}
